<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz"
        tools:targetApi="31">
        <activity
            android:name=".ChasiActivity"
            android:exported="false" />
        <activity
            android:name=".PicturesKeyActivity"
            android:exported="false" />
        <activity
            android:name=".MirrorActivity"
            android:exported="false" />
        <activity
            android:name=".DiagramActivity"
            android:exported="false" />
        <activity
            android:name=".FindBookActivity"
            android:exported="false" />
        <activity
            android:name=".ParolActivity"
            android:exported="false" />
        <activity
            android:name=".GlovesActivity"
            android:exported="false" />
        <activity
            android:name=".AnketaActivity"
            android:exported="false" />
        <activity
            android:name=".FirsEndActivity"
            android:exported="false" />
        <activity
            android:name=".TrueActivity"
            android:exported="false" />
        <activity
            android:name=".PillarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.PicturesSeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.DoorChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".RulesKeyActivity"
            android:exported="false" />
        <activity
            android:name=".GameWinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.SearchKeyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.GameOverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.StartWindowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.RulesActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>